<html>
<body>

{% for lang in LANGUAGES %}
<a style="color:{% ifequal lang.0 LANGUAGE_CODE %}red{% else %}black{% endifequal %};" href="{% url setlang %}?language={{ lang.0 }}">{{ lang.1 }}</a>
{% endfor %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<br>

{% block content %}
<ul>
    {% for item in item_list %}
    <li><a href="/item/{{ item.slug }}">{{ item.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

</body>
</html>
